html, body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serrif;
  background-color: #000000;
  height: 100vh;
  width: 100%;
}

.barContainer{
  display: flex;
  color: white;
  width: 100%;
  height: 100vh;
  
}

.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 15px;
  width: 100%;
  height: 50px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px;
  border-color: #262626;
  border-style: solid;
  background-color: black;


  vertical-align: top;
  position: fixed;
}

.brand{
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
}

.brand > img{
  width: 30px;
  margin-left: 5px;
  vertical-align: middle;
}

.firstname{
  color: white;
  font-weight: 400; 
}

.lastname{
  color: #FFD700;
  font-weight: 700;
  padding-left: 2px;
  
}

.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.navigation > li{
  list-style-type: none;
  padding: 15px;
  margin-right: 20px;
}

.navigation > li > a{
  font-size: 14px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: text-decoration 0.60s;
}

.navigation > li > a:hover{
  text-decoration: underline;
  text-decoration-color: #FFD700;
  text-decoration-thickness: 2px;
  text-underline-offset: 32px;
}


.header{
    background-image: url("../images/top-bg.jpg");
    width: 100%;
    height: 700px;
    font-family: Montserrat, sans-serrif;
    background-repeat: no-repeat;
    background-size: 100% 700px;
}

.profile-pict{
    align-items: center;
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 300%;

    object-fit: cover;
    object-position: center;
    

}

.name{
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 12px;
}

.job{
    background-color: #FFD700 !important;
    font-size: 12px;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    width: 250px;
    padding: 8px 10px 8px 10px;
    color: black;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.overview{
  display: flex;
  justify-content: center;
  background-color: #0f0f0f;
  width: 100%;
  height: 300px;
}

.overview-desc{
  color: white;
  font-size: 18px;
  line-height: 25px;
  width: 1000px;
  
  
  margin-top: 50px;
}

.overview-title{
  color: white;
  text-decoration: underline;
  text-decoration-color: #FFD700;
  font-size: 32px;
  margin-top: 50px;
  
  text-underline-offset: 15px;
  
}

.skills{
  background-color: #111212;
  width: 100%;
  height: 800px;
  padding-bottom: 200px;
}

.skills-title{
  display: flex;
  justify-content: center;
  
  width: 100%;
  height: 100px;
  margin: 0;
}

.skills-title > center > h1{
    color: white;
    text-decoration: underline;
    text-decoration-color: #FFD700;
    font-size: 32px;
    margin-top: 50px;
    
    text-underline-offset: 15px;
}




.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
  
  gap: 100px;
}

.experience{
  color:white;
  font-size: 18px;

  width: 500px;
  line-height: 20px;
}

.skills-chart{
  margin-top: 0;
  color: white;

}

.skill-name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

.skills-bar{
  background-color: white;
  width: 500px;
  height: 5px;
  border-radius: 20px;
}

.html-skills-bar{
  background-color: #FFD700;
  width: 450px;
  height: 5px;
  border-radius: 20px;
}

.js-skills-bar{
  background-color: #FFD700;
  width: 400px;
  height: 5px;
  border-radius: 20px;
}

.py-skills-bar{
  background-color: #FFD700;
  width: 475px;
  height: 5px;
  border-radius: 20px;
}

.tf-skills-bar{
  background-color: #FFD700;
  width: 435px;
  height: 5px;
  border-radius: 20px;
}

.df-skills-bar{
  background-color: #FFD700;
  width: 400px;
  height: 5px;
  border-radius: 20px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  color: white;
  background-color: #0f0f0f;
}









